
  .form-signin .btn {
    font-size: 13px;
    transition: all 0.2s;
    float: right;
    margin-left: 16px;
  }
  
  .form-label-group {
    position: relative;
    margin-bottom: 1rem;
  }
  
  .form-label-group input {
    height: auto;
  }
 
  .card-header{
    background: #467cb5;
    color: #fff;
  }
  .card{
      border: none;
  }
  input{
    height: 30px;
    background-color: #efefef;
  }
  .redstar{
    color:red;
  }
  .submit-btn{
    background: orange;
    color: #fff;
  }
  .cancel-btn{
    color: #fff;
    background: #aaa;
    border-color: #fff;

  }